<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url "show_my_tasks" %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1> My Tasks </h1>
                <ul>
                    <li>
                        <a href="{% url "create_task" %}">Create a new Task</a>
                    </li>
                </ul>
                    <table>
                        <thead>
                            <tr>
                            {% if task_list %}
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                            {%endif%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in task_list%}
                            <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.start_date|date:"m-d-Y" }}</td>
                            <td>{{item.due_date|date:"m-d-Y" }}</td>
                            <td>{{item.is_completed}}</td>
                            </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                    {% if not task_list %}
                    <p> You have no tasks </p>
                    {% endif %}
        </div>
    </main>
</body>
</html>
