{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <header>
      <nav>
        <ul>
            <li>
                <a href="{% url "show_my_tasks" %}">My Tasks</a>
            </li>
            <li>
                <a href="{% url "list_projects" %}">My Projects</a>
            </li>
            <li>
                <a href="{% url "logout" %}">Logout</a>
            </li>
        </ul>
      </nav>
  </header>
  <main>
    <div>
        <h1>{{project.name}}</h1>
        <p>{{ project.description|markdownify }}</p>
        <h2>Tasks</h2>
    </div>
        <ul>
          <li>
            <a href="{% url "create_task" %}">Create a new task</a>
          </li>
        </ul>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Assignee</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            {% for item in task_list %}
            {% if task_list %}
          <td>{{item.name}}</td>
          <td>{{item.assignee}}</td>
          <td>{{item.start_date}}</td>
          <td>{{item.due_date}}</td>
          <td>{{item.is_completed}}</td>
            {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </thead
    </table>
      {% if not tasks_list %}
        <p>This project has no tasks</p>
      {% endif %}
  </main>
</body>
</html>
