<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url "show_my_tasks" %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
        <main>
            <div>
                <h1> My Projects </h1>
            </div>
                <ul>
                    <li>
                        <a href="{% url "create_project" %}">Create a Project</a>
                    </li>
                </ul>
                <table>
                    <thead>
                        <tr>
                            {% if project_list%}
                                <th>Name</th>
                                <th>Number of tasks</th>
                            {% endif %}
                                    </tr>
                    </thead>
                        <tbody>
                            {% for item in project_list %}
                                <tr>
                                <td>
                                <a href="{% url "show_project" item.pk %}">{{ item.name }}</a>
                                </td>
                                <td> {{ item.tasks.count }}</td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                            {% if not project_list%}
                                <p> You are not assigned to any projects</p>
                            {%endif%}
        </main>
</body>

</html>
